In [25]:
import pandas as pd

In [26]:
data = pd.read_csv("sample.csv")

In [27]:
data.head()

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
0,Abingdon,1006457,GB,GBP,174.0,1.0,0.468812
1,Alloa,1007295,GB,GBP,89.0,0.0,0.252819
2,Amersham,1006474,GB,GBP,45.0,0.0,0.126163
3,Annan,1007297,GB,GBP,58.0,0.0,0.144051
4,Baldock,1006493,GB,GBP,93.0,0.0,0.264777

In [35]:
#can use below or as data.Impressions, the output of this is boolean
data["Impressions"].head() > 5000

0    False
1    False
2    False
3    False
4    False
Name: Impressions, dtype: bool

In [38]:
#so to return all the filtered rows, it's as below
filter = data["Impressions"] > 10000

In [39]:
data[filter]

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
501,Unknown,Unknown,GB,GBP,58965.0,102.0,155.147206
774,London,1006886,GB,GBP,29341.0,33.0,77.162183
844,NaN,NaN,NaN,NaN,275810.0,478.0,724.855704

In [45]:
data[data.Clicks == 102]

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
501,London,Unknown,GB,GBP,58965.0,102.0,155.147206

In [64]:
data[data.Clicks > 100]

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
501,London,Unknown,GB,GBP,58965.0,102.0,155.147206
844,London,NaN,NaN,NaN,275810.0,478.0,724.855704

In [65]:
#above created an error because python doesn't know how to return 1 true or false value
#so above we need to use & instead 
#with & it will return True only when both conditions are met
data[data.Clicks > 200 & data.Impressions > 10000]

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [66]:
#above there is error again, because condition 1 has mixed True and False signals
#condition 2 also has mixed True and False 
#so 'and' doesn't know how to work with this
#so we change it to & so it compares individual row's whether it has met first and second condition 
#as opposed to condition 1 as a whole 'and' condition 2 as a whole

#now below with brackets to make sure it's clearly defined
data[(data.Clicks > 100) & (data.Impressions > 10000)]

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
501,London,Unknown,GB,GBP,58965.0,102.0,155.147206
844,London,NaN,NaN,NaN,275810.0,478.0,724.855704

In [69]:
#here another example
data[(data.City == "Alloa") & (data.Impressions > 10000)]

Empty DataFrame
Columns: [City, City ID, Country, Advertiser Currency, Impressions, Clicks, Revenue (Adv Currency)]
Index: []

---

In [71]:
#below function returns the unique value 
data.Country.unique()

array(['GB', nan], dtype=object)