In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("sample.csv")

In [4]:
data[2:4]

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
2,Amersham,1006474,GB,GBP,45.0,0.0,0.126163
3,Annan,1007297,GB,GBP,58.0,0.0,0.144051

In [6]:
len(data)

853

In [7]:
len(data.columns)

7

In [8]:
data.columns

Index(['City', 'City ID', 'Country', 'Advertiser Currency', 'Impressions',
       'Clicks', 'Revenue (Adv Currency)'],
      dtype='object')

In [12]:
data[["City","Country"]][:5]

       City Country
0  Abingdon      GB
1     Alloa      GB
2  Amersham      GB
3     Annan      GB
4   Baldock      GB

In [17]:
data.head(10)

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
0,Abingdon,1006457,GB,GBP,174.0,1.0,0.468812
1,Alloa,1007295,GB,GBP,89.0,0.0,0.252819
2,Amersham,1006474,GB,GBP,45.0,0.0,0.126163
3,Annan,1007297,GB,GBP,58.0,0.0,0.144051
4,Baldock,1006493,GB,GBP,93.0,0.0,0.264777
5,Barnsley,1006496,GB,GBP,682.0,1.0,1.735428
6,Berkhamsted,1006512,GB,GBP,75.0,0.0,0.200266
7,Billingshurst,1006520,GB,GBP,38.0,0.0,0.100759
8,Birchwood,1006522,GB,GBP,49.0,0.0,0.138483
9,Birmingham,1006524,GB,GBP,5049.0,4.0,13.131432

In [18]:
data.tail()

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
848,Group By:,City ID,NaN,NaN,NaN,NaN,NaN
849,Group By:,Country,NaN,NaN,NaN,NaN,NaN
850,Group By:,Advertiser Currency,NaN,NaN,NaN,NaN,NaN
851,Filter by Insertion Order ID:,2806249,NaN,NaN,NaN,NaN,NaN
852,Filter by Partner ID:,151,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.