In [1]:
#in matrice the way to extract a value it goes like matrice[2 ,3]
#however in dataframe thtat will return an error given the different syntax

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("sample.csv")

In [7]:
data.head()

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
0,Abingdon,1006457,GB,GBP,174.0,1.0,0.468812
1,Alloa,1007295,GB,GBP,89.0,0.0,0.252819
2,Amersham,1006474,GB,GBP,45.0,0.0,0.126163
3,Annan,1007297,GB,GBP,58.0,0.0,0.144051
4,Baldock,1006493,GB,GBP,93.0,0.0,0.264777

In [8]:
#to extract individual cell value there are 2 ways - using .iat or .at
#however .iat uses counting methods whereas .at uses labels
#assuming to extract the 3rd row and 3rd column
#.iat the i stands for integer
data.iat[2, 2]

'GB'

In [9]:
data.at[2, "Country"]

'GB'

In [10]:
#so above 2 both returns the same value, however
#in .at the first value 2 is actually extracting the label in the data frame
#in below example the two method will return different value

In [11]:
#firstly we build a dataframe taking the 10th rows 
data1 = data[::10]

In [26]:
data1.head(11)

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
0,Abingdon,1006457,GB,GBP,174.0,1.0,0.468812
10,Bishop s Stortford,1006528,GB,GBP,124.0,0.0,0.319464
20,Brierley Hill,1006564,GB,GBP,168.0,0.0,0.445173
30,Burtonwood,1006587,GB,GBP,14.0,0.0,0.046699
40,Cumbernauld,1007315,GB,GBP,192.0,1.0,0.513809
50,Fairford,1006712,GB,GBP,94.0,0.0,0.238575
60,Havant,1006773,GB,GBP,239.0,0.0,0.649766
70,Keighley,1006832,GB,GBP,154.0,0.0,0.380129
80,Leeds,1006864,GB,GBP,3612.0,6.0,9.462534
90,Melton Mowbray,1006926,GB,GBP,198.0,0.0,0.514531
100,Oxted,1006977,GB,GBP,6.0,0.0,0.018554

In [14]:
#then we try using both .iat and .at

In [25]:
data1.iat[10, 4]

6.0

In [23]:
data1.at[10, "Impressions"]

124.0

In [27]:
#so above .iat basically found the 10th rows and 4th column to return impression 6
#whereas .at found the label 10 which is the second row and return impression 124